
<pattern-canvas></pattern-canvas>

<div class="controls">
  <div class="control stitch">
    <label>stitch</label>
    <input type="number" ng-model="ctrl.stitch"/>
  </div>
  <p>row: <b>{{ctrl.getRow()}}</b>     row-stitch: <b>{{ctrl.getRowStitch()}}</b></p>
  <div class="control do-stitch">
    <input type="button" value="Stitch" style="float: left; width:48%; height: 60px; font-weight: bold" ng-click="ctrl.nextStitch()"/>
    <input type="button" value="St 6" style="float: left; width:48%; height: 60px; font-weight: bold" ng-click="ctrl.nextStitch(6)"/>
  </div>
  <div class="control undo-stitch">
    <input type="button" value="Unpick" ng-click="ctrl.prevStitch()" style="margin-top: 10px; height: 60px; width: 130px; "/>
  </div>
</div>

<div style="display: none">
  <canvas id="tempCanvas" width="30" height="251" style="border:1px solid #d3d3d3;">
    Your browser does not support the HTML5 canvas tag.
  </canvas>
</div>
