
<pattern-canvas></pattern-canvas>
<!--<big-picture></big-picture>-->

<div class="controls">
  <div class="control stitch">
    <label>Stitch</label><span style="float: right;">{{ctrl.isRightSide()? 'RS' : 'WS'}}</span>
    <input type="number" ng-model="ctrl.stitch"/>
  </div>
  <p>Row: <b>{{ctrl.getRow()}}</b> Row-stitch: <b>{{ctrl.getRowStitch()}}</b></p>
  <div class="control do-stitch">
    <input class="stitch-button" type="button" value="Unpick 6" ng-click="ctrl.prevStitch(6)"/>
    <input class="stitch-button" type="button" value="Stitch 6" ng-click="ctrl.nextStitch(6)"/>
  </div>
</div>

<div style="display: none">
  <canvas id="tempCanvas" width="30" height="300" style="border:1px solid #d3d3d3;">
    Your browser does not support the HTML5 canvas tag.
  </canvas>
</div>
